<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>부동산 광고시장 감시센터</title>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload=function (){
    var result = [[${result}]];

        if(result == true){
            alert("메일인증에 성공했습니다.")
            window.location.href = 'http://localhost:8080/member/login';
        } else if(result == false){
            alert("메일인증에 실패했습니다..")
            window.location.href = 'http://localhost:8080/member/login';
        }
    }
    /*]]>*/
</script>
<body>
</div>
</body>
</html>