<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fastlms_project.admin.mail.mapper.MailMapper">

    <select id="mailList" resultType="com.example.fastlms_project.admin.mail.dto.MailDto">
        select *
        from mail
        where 1 = 1
    </select>

    <select id="mailCount" resultType="long">
        select count(*)
        from mail
        where 1 = 1
    </select>

</mapper>