<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="fragment-body-menu">
        <div>
            <a href="/report/list">신고 및 조회</a>
            |
            <a href="/notice/">알림마당</a>
            |
            <a href="/member/login">로그인</a>
            |
            <a href="/member/logout">로그아웃</a>
            |
            <a href="/member/register">회원가입</a>
        </div>
        <hr>
    </div>

    <div th:fragment="member-body-menu">
        <div>
            <a href="/report/list">신고 및 조회</a>
            |
            <a href="/notice/">알림마당</a>
            |
            <a href="/member/logout">로그아웃</a>
        </div>
        <hr>
    </div>

    <div th:fragment="admin-body-menu">
        <div>
            <a href="/report/list.do">신고 목록</a>
            |
            <a href="/notice/list.do">공지 사항 관리</a>
            |
            <a href="/">회원 목록</a>
            |
            <a href="/admin/mail/list.do">메일 템플릿 관리</a>
            |
            <a href="/member/logout">로그아웃</a>
        </div>
        <hr>
    </div>
</body>
</html>