<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>부동산 광고시장 감시센터 관리자</title>
</head>
<body>
<h1>이메일 템플릿 관리 - 등록</h1>
<hr>
<div th:replace="/fragments/layout.html :: admin-body-menu"></div>

<div align="center">
    <form method="post">
        <table border="1">
            <tr>
                <th width="150" height="10">템플릿 Key</th>
                <th><input style="width:98%; height:98%" type="text" name="mailKey" placeholder="이메일 템플릿 Key" required>
                </th>
            </tr>
            <tr>
                <th>메일 제목</th>
                <th><input style="width:98%; height:98%" type="text" name="mailTitle" placeholder="템플릿 제목" required>
                </th>
            </tr>
            <tr>
                <th>메일 내용</th>
                <th style="border: 1px solid;" width="700" height="700">
                    <textarea name="mailContents" style="width:98%; height:98%"></textarea>
                </th>
            </tr>
        </table>

        <button>등록 하기</button>
        <button href="/admin/mail/list.do"> 목록 </button>

    </form>
</div>

</form>

</body>
</html>